fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
email-validator
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-groq>=1.1.2
langgraph>=0.2.0
openai
tiktoken
python-dotenv
